.app-header{
    height: 70px;
    top: 0;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(144, 230, 243),rgb(10, 220, 190));
    margin-top: -10px;
  
// align-content: center;

}

.box{
  
   padding: 5px 10px;
  
   margin-top: 20px;
  
}
h2{
    margin: unset;
    color: white;
}

.kinder{
    background-color: yellowgreen;
}
.plus{
    background-color: red;
}
.minus{
    background-color: blue;
}
.multiple{
    background-color: green;
}
.complex{
    background-color:orange ;
}
.home{
    background-color: rgb(167, 68, 167);
}

.about{
    background-color: rgb(212, 212, 38)
}
.active{
    border-bottom:2px solid black;
}