
<div class="app-header">
    <div class="nav flex-space-around main-layout">
        <div>
            <a routerLink="" routerLinkActive="active">
        <h2 class="logo">דף הבית</h2>
    </a>
    </div>
<nav class="flex">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <!-- <img src="assets/icons/home.png" class="icon" class="home-img">  -->
    </a>
    <a routerLink="/plus-ex" routerLinkActive="active">
      <h2>חיבור</h2>
    </a>
    <a routerLink="/minus-ex" routerLinkActive="active">
      <h2>חיסור</h2>
    </a>
    <a routerLink="/multiple" routerLinkActive="active">
      <h2>לוח הכפל</h2>
    </a>
    <a routerLink="/complex-ex" routerLinkActive="active">
      <h2>מתקדמים</h2>
    </a>
  
  </nav>
  
</div>
</div>
