
<div class="app-header">
    <div class="nav flex-space-around main-layout">
      <a routerLink="home" routerLinkActive="active">
              <div class="box home">
        <h2 class="logo">דף הבית</h2>
      </div>
    </a>
      <a routerLink="about" routerLinkActive="active">
              <div class="box home">
        <h2 class="logo">אודות</h2>
      </div>
    </a>
<nav class="flex">
  <a routerLink="/kids" routerLinkActive="active" >
    <div class="box kinder">
      <h2>גיל רך</h2>
    </div>
    </a>
    <a routerLink="/plus-ex" routerLinkActive="active">
      <div class="box plus">
      <h2>חיבור</h2>
    </div>
    </a>
    <a routerLink="/minus-ex" routerLinkActive="active">
      <div class="box minus">
      <h2>חיסור</h2>
    </div>
    </a>
    <a routerLink="/multiple" routerLinkActive="active">
      <div class="box multiple">
      <h2>לוח הכפל</h2>
    </div>
    </a>
    <a routerLink="/complex-ex" routerLinkActive="active">
      <div class="box complex">
      <h2>מתקדמים</h2>
    </div>
    </a>
  </nav>
  
</div>
</div>
