.kids-container{
    height: 100vh;
    background-color: rgb(42, 163, 238);
}


img{
    height: 280px;
    width: 350px;
    border-radius: 30px;
    
    margin-bottom: 40px;
   
}

.card{
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-left: 50px;
    &:hover{
        opacity: 0.9;
    }
}

.label{
    position: absolute;
    width: 350px;
    height: 70px;
    top: 70px;
    opacity: 0.8;
    background-color: rgb(119, 213, 241);
    color: blue;
}
