.background{
    background-image: url('https://www.wallpaperkiss.com/wimg/b/131-1314763_big.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;  
    min-height: 100vh;
  }
.homepage-container{
    flex-wrap: wrap;
    margin-top: 50px;
}

.main-container{
    padding-top: 40px; 
}

.username{
    width: 350px;
    margin: 0 auto;
    font-size: 36px;
    color: white;
    height: 100px;
    background-image: url('https://images.pond5.com/random-numbers-technology-code-animation-footage-074764995_iconm.jpeg');
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 30px;
}

img{
    height: 250px;
    width: 310px;
    border-radius: 30px;
    
    margin-bottom: 40px;
   
}

.card{
    position: relative;
    text-align: center;
    cursor: pointer;
    &:hover{
        opacity: 0.9;
    }
}

.label{
    position: absolute;
    width: 310px;
    height: 70px;
    top: 70px;
    opacity: 0.8;
}



.plus, .minus, .multiple, .complex{
    background-color: deepskyblue;
}



h1{
    color: blue;
}