.background{
    background-image: url('https://www.wallpaperkiss.com/wimg/b/131-1314763_big.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;  
    min-height: 100vh;
  }
.homepage-container{
    flex-wrap: wrap;
    margin-top: 100px;
}

.main-container{
    padding-top: 40px; 
}

img{
    height: 250px;
    width: 310px;
    border-radius: 30px;
    
    margin-bottom: 40px;
   
}

.card{
    position: relative;
    text-align: center;
    cursor: pointer;
    &:hover{
        opacity: 0.9;
    }
}

.label{
    position: absolute;
    width: 310px;
    height: 70px;
    top: 70px;
    opacity: 0.8;
}

.multiple{
    background-color: rgb(179, 250, 109);
}

.plus, .minus{
    background-color: darkcyan;
}

.complex{
    background-color: deepskyblue;
}

h1{
    color: blue;
}