.remote-img{
width: 180px;
height: 250px;
position: absolute;
top: 400px;
mix-blend-mode: multiply;
left: 700px;
}
.count-container{
    width: 850px;
    margin: 0 auto;
    position: relative;
   
}

.background{
  height: 100vh;
    // background-color: rgb(42, 163, 238);
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/97/46/5857f0c93e073f1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    
   
}
.voice-btn{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 10px;
  background-color: red;
  border: 3px solid yellow;
  color: yellow;
  font-size: 22px;
  position: absolute;
  z-index: 2;
  top: 440px;
  left: 750px;
&:hover{
    color: red;
    background-color:yellow;
    border: 3px solid red;
}
}

.trees > img:nth-child(1){
left: 80px;
top: 160px;
animation: falling ease-in 2.5s;

}


.trees > img:nth-child(2){
left: 200px;
top: 160px;
animation: falling ease-in 2s
}

.trees > img:nth-child(3){
left: 320px;
top: 160px;
animation: falling ease-in 1.5s
}
.trees > img:nth-child(4){
left: 440px;
top: 160px;
animation: falling ease-in 1.5s
}
.trees > img:nth-child(5){
left: 560px;
top: 160px;
animation: falling ease-in 1.5s
}
.trees > img:nth-child(6){
left: 80px;
top: 300px;
animation: falling ease-in 1.5s
}
.trees > img:nth-child(7){
left: 200px;
top: 300px;
animation: falling ease-in 1.5s
}
.trees > img:nth-child(8){
left: 320px;
top: 300px;
animation: falling ease-in 1.5s
}
.trees > img:nth-child(9){
left: 440px;
top: 300px;
animation: falling ease-in 1.5s
}
.trees > img:nth-child(10){
left: 560px;
top: 300px;
animation: falling ease-in 1.5s
}

.tree-img{
 position: absolute;
    width: 70px;
    height: 90px;
  z-index: 1;
}

@keyframes falling{
        from {transform: translateY(-50vh)};
}

// .form{
//     position: absolute;
//     z-index: 2;
//     top: 445px;
//     left: 455px;
// }
input{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid yellow;
    color: blue;
   text-align: center;
   font-weight: bold;
   font-size: 24px;
   position: absolute;
   z-index: 2;
   top: 465px;
   left: 265px;
}
.check-btn{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: blue;
    border: 3px solid yellow;
    color: yellow;
    font-size: 15px;
    position: absolute;
    z-index: 2;
    top: 500px;
    left: 765px;
  &:hover{
      color: blue;
      background-color:yellow;
      border: 3px solid blue;
  }
  
  }

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 5 + px
               random($height)-$height / 3 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

body {
  margin:0;
  padding:0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation((7s bang ease-out backwards, 7s gravity ease-in backwards, 8s position linear backwards));
  }
      
  .pyro > .after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
  }
          
  @include keyframes(bang) {
    to {
      box-shadow:$box-shadow;
    }
  }
      
  @include keyframes(gravity)  {
    to {
      @include transform(translateY(200px));
      opacity: 0;
    }
  }
      
  @include keyframes(position) {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {  
      margin-top: 20%;
      margin-left: 70%
    }
    60%, 79.9% {  
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {  
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  
  .pop-up{
    width: 200px;
    height: 200px;
    padding-top: 20px;
    position: absolute;
    left: 40%;
    right: 50%;
  top: 300px;
    text-align: center;
    font-size: 24px;
  background-color: yellowgreen;
  border-radius: 25px;
  color: blue;
  z-index: 1;
  animation: show 2s;
  transform: scale(1);
}

@keyframes show {
   from{
       opacity: 0;
       transform: scale(0);
   } to {
       opacity: 1;
       transform: scale(1);
   }
}
  .playagain-btn{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: blue;
    border: 3px solid yellow;
    color: yellow;
    font-size: 15px;
  &:hover{
      color: blue;
      background-color:yellow;
      border: 3px solid blue;
  }
  
  }

  
.shake{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}