<div class="background">
<div class="count-container" *ngIf="questCounter<9; else fireworks">
  
<div class="trees">
       <img *ngFor="let randImg of randImgs; index as idx" src="{{randImg.img}}" alt="tree-img" class="tree-img">
    </div>

    <div >
    <img src="assets/icons/remote.png" alt="tv-img" class="remote-img">
</div>

<div class="form">
<form (submit)="getSolution()" >
<input type="number" name="res" [(ngModel)]="exercise.answer" placeholder="">
<button class="check-btn">בדיקה</button>
</form> 
</div>
<button class="voice-btn" (click)="playVoice()">🔊</button>
</div>
<ng-template #fireworks>  
    <div class="pyro" >
        <div class="before"></div>
        <div class="after"></div>
        <div class="pop-up">
          <div>!כל הכבוד</div>
          <div>😀</div>
          <div >
            <button class="playagain-btn"  (click)="playAgain()"> שחק/י שוב</button>
           </div>
        </div>
      </div>
    </ng-template>
</div>