<div class="background">
<div class="count-container" *ngIf="questCounter<9; else fireworks">
  
<div class="trees">
       <img *ngFor="let randImg of randImgs; index as idx" src="{{randImg.img}}" alt="tree-img" class="tree-img">
    </div>

    <div class="tv-img">
    <img src="assets/icons/tv.webp" alt="tv-img" >
</div>
<form (submit)="getSolution()" >
<input type="number" name="res" [(ngModel)]="exercise.answer" placeholder="">
<button class="check-btn">בדיקה</button>
</form> 

</div>
<ng-template #fireworks>  
    <div class="pyro" >
        <div class="before"></div>
        <div class="after"></div>
        <div class="pop-up">
          <div>!כל הכבוד</div>
          <div>😀</div>
          <div >
            <button class="playagain-btn"  > שחק/י שוב</button>
           </div>
        </div>
      </div>
    </ng-template>
</div>