.background{
    background-image: url('https://cdn.pixabay.com/photo/2016/01/16/20/16/math-1143869_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   height: 100vh;
   
}
.sign-up{
    padding-top: 100px;
}