<div class="background">
<div class="complex-ex-container main-layout" >
    <div class="timer">
        <button (click)="startTime()" class="time-btn" *ngIf="!isClock">הפעל/י שעון</button>
       <div class="clock" *ngIf="isClock">{{min}}:<span *ngIf="sec<10">0</span>{{sec}}</div>
    </div>
       <div class="flex-space-around main-layout">
    <div class="exercise" [ngClass]="{'correct' : exercise.isCorrect, 'mistake' :exercise.isMistake}" *ngIf="questCounter <11; else res"  >
        <div class="quest-counter">{{questCounter}} שאלה מספר</div>
        <div class="example" *ngIf="questCounter===1">
         <p>  :עליך למצוא את השארית. לדוגמא</p>   
         <p> 4 X 5 % 3 = 2</p> 
         <p> 4 X 5 = 20 כי</p>  
        
         <p> 20 % 3 = 6</p> 
           <p>ושארית החלוקה היא 2</p>  
      
        </div> 

    <form (submit)="getSolution()" >
        <div class="flex">
 <div class="num1">{{exercise.num1}} </div> X <div class="num2"> {{exercise.num2}} </div> % <div class="num3"> {{exercise.num3}} </div>
  󠀽<p class="equal-sign">=</p>
    <input type="number" name="res" [(ngModel)]="exercise.answer" placeholder="" [ngClass]="{'shake':exercise.isMistake} ">
</div>
    <button class="check-btn">בדיקה</button>
</form> 
<div *ngIf="mistakeCounter===2" class="msg-wrong-ans">{{showSolution}} {{exercise.solution}}</div> 
<div *ngIf="exercise.isMistake&&mistakeCounter===1" class="msg-wrong-ans">{{msgWrongAns}}</div>
</div>
<ng-template #res>  
   
<div  class="user-res">
    <div class="your-res">התוצאה שלך היא</div>
    <p class="user-score">{{user.score}}/10</p>
<div class="smiley">{{smiley}}</div>
<div><button class="playagain-btn" (click)="playAgain()">שחק/י שוב</button></div>
<div><button class="gohomepage-btn" [routerLink]="['/home']">דף הבית</button></div>
</div>
</ng-template>
</div>
</div>
</div>




