
<div class="container">
  <div class="directions" *ngIf="isShown">
    <div><button class="voice-btn" (click)="playVoice()">🔊</button></div>
    <button class="play-btn" (click)="play()">שחק/י</button>
  </div>
  <div class="balloon main-layout" *ngIf="isPlaying">
        <div (click)="explodeBalloon(4)" [ngStyle]="(data[4].isClicked)? {'display': 'none'} : {}"><span>4</span></div>
    <div (click)="explodeBalloon(2)" [ngStyle]="(data[2].isClicked)? {'display': 'none'} : {}"><span>2</span></div>
    <div (click)="explodeBalloon(7)" [ngStyle]="(data[7].isClicked)? {'display': 'none'} : {}"><span>7</span></div>
    <div (click)="explodeBalloon(1)" [ngStyle]="(data[1].isClicked)? {'display': 'none'} : {}"><span>1</span></div>
    <div (click)="explodeBalloon(6)" [ngStyle]="(data[6].isClicked)? {'display': 'none'} : {}"><span>6</span></div>
    <div (click)="explodeBalloon(8)" [ngStyle]="(data[8].isClicked)? {'display': 'none'} : {}"><span>8</span></div>
    <div (click)="explodeBalloon(10)" [ngStyle]="(data[10].isClicked)? {'display': 'none'} : {}"><span>10</span></div>
    <div (click)="explodeBalloon(3)" [ngStyle]="(data[3].isClicked)? {'display': 'none'} : {}"><span>3</span></div>
    <div (click)="explodeBalloon(5)" [ngStyle]="(data[5].isClicked)? {'display': 'none'} : {}"><span>5</span></div>
    <div (click)="explodeBalloon(9)" [ngStyle]="(data[9].isClicked)? {'display': 'none'} : {}"><span>9</span></div>
  </div>
  <div class="pyro" *ngIf="prevBalloon > 10">
    <div class="before"></div>
    <div class="after"></div>
    <div class="pop-up">
      <div>!כל הכבוד</div>
      <div>😀</div>
      <div >
        <button class="playagain-btn" (click)="playAgain()" > שחק/י שוב</button>
       </div>
    </div>
  </div>
  </div>

