.typewriter{
  height: 400px;
  width: 1200px;
  margin: 0 auto;
}

.typewriter h1 {
    overflow:hidden;
    white-space: nowrap; 
    // margin: 0 auto;
    letter-spacing: .1em; 
   
    animation: 
      typing 5.5s steps(10, end),
     
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }