<div class="about-container">
<div class="typewriter">

    <h2 class="typing">Hi! I'm Erez and I love developing. Take a look at my latest projects:</h2>
  </div>
  <div *ngIf="isShown" class="flex">
<div *ngFor="let project of projects; idx as index">
  <div class="card" (click)="goToUrl(project.url)" >
<h3>{{project.title}}</h3>

<img [src]="project.img" alt="project-image" class="project-image">
</div>
</div>
  </div>
  <div class="show-line"  *ngIf="showLine">
<h2>You are welcome to contact me: hershko2013@gmail.com</h2>
  </div>
</div>
  <!-- //My name is Erez Hershkovitz. I am a chess master and qualified optometrist. But now I am looking for an exciting career in the amazing world of development!\n You are more than welcome to contact me: hershko2013@gmail.com -->
